<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="/public/favicon.ico"> <!--https://icons8.com/icon/qhTRpW6HOKIT/lobster"-->
    <title>Michael Krah</title>
</head>
<body>
    <h2 class="header-title"> <img src="/public/images/name.jpg"  class="image">  </img> </h2>

    <nav class="nav">
        <a href="/" id="nav-item"> Home </a>
        <a href="/about" id="nav-item" > About </a>
        <a href="/resume" id="nav-item"> Resume </a>
        <a href="/contact" id="nav-item"> Contact </a>
        <a href="/songs" id="songs-header"> Songs </a>
    </nav>

    <!-- <h1 class="main-page"> CONTACT</h1> -->
    <p class="paragraph"> Feel free to contact me anywhere below!</p>
    <div class="links">
        <a href="mailto:mickra@bu.edu?Subject=Hello" target="_blank"> Email </a>
        <a href="https://www.linkedin.com/in/michaelkrah" target="_blank" > LinkedIn </a>
        <a href="https://www.github.com/michaelkrah" target="_blank"> Github </a>
    </div>

    <br>
    
</body>
</html>