<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/assets/styles.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="/public/favicon.ico"> <!--https://icons8.com/icon/qhTRpW6HOKIT/lobster"-->
    <title>Michael Krah</title>
</head>

<body>

    <h4 class="header-title">Michael Krah</h4>
    <nav class="nav">
        <a href="/" id="nav-item"> Home </a>
        <a href="/about" id="nav-item"> About </a>
        <a href="/resume" id="nav-item"> Resume </a>
        <a href="/contact" id="nav-item"> Contact </a>
        <a href="/songs" id="songs-header"> Songs </a>
    </nav>


    <div class="main-flex">
        <div id="mar1"></div>

        <div class="top-container">
            <h1 class="main-page"> Hello! </h1>
            <p class="paragraph-main-margin">I'm Michael, an undergraduate Computer Science student at Boston
                University. At BU, I'm a course assistant and grader for the Computer Science department. Over the
                summer I interned at L.L.Bean on their data marketing team, where I wrote unit
                tests and documentation to support in-house mixed media modeling. Other projects I worked on involved
                leveraging SQL and Jira to model and document order data flow to streamline vendor reporting. </p>
            <p class="paragraph-main-margin"> In my free
                time I enjoy listening to music, climbing, knitting, sewing, and running. I built this site to showcase
                personal projects and let you know a little about me. Feel free to explore, and don't hesitate to reach
                out with any questions! </p>
            <h1 class="main-page"> Personal Projects </h1>
            <p class="paragraph-main-margin">In depth descriptions of my personal projects are available on the about
                section of the site.</p>
            <div class="project-container">
                <div class="front-project">
                    <a href="/about" id="about-item">Music Habits Visualization Webpage</a>
                </div>
                <div class="front-project">
                    <a href="/about" id="about-item">Covid Data Analysis</a>
                </div>
                <div class="front-project">
                    <a href="/about" id="about-item">Personal Website</a>
                </div>
                <div class="front-project">
                    <a href="/about" id="about-item">CNN Histopatholigical Image Classifier</a>
                </div>
                <div class="front-project">
                    <a href="/about" id="about-item">Webcam Handsign Detector</a>
                </div>
                <div class="front-project">
                    <a href="/about" id="about-item">Hackathon Chess Engine</a>
                </div>
            </div>

        </div>
        <div class="bottom-container">
            <figure>
                <p><img id="main-image" src="/public/images/me.jpg" width="45%" alt="Photo of me">
            </figure>
        </div>



    </div>
</body>


</html>