<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="/public/favicon.ico"> <!--https://icons8.com/icon/qhTRpW6HOKIT/lobster"-->
    <title>Michael Krah</title>
</head>
<body>
    
    <h2 class="header-title"> <img src="/public/images/name.jpg"  class="image">  </img> </h2>

    <nav class="nav">
        <a href="/" id="nav-item"> Home </a>
        <a href="/about" id="nav-item"> About </a>
        <a href="/resume" id="nav-item"> Resume </a>
        <a href="/contact" id="nav-item"> Contact </a>
        <a href="/songs" id="songs-header"> Songs </a>
    </nav>
    
   
    <div class="main-flex">
        <div id="mar1"></div>
        
        <div class="top-container">
            <h1 class="main-page"> Hello! </h1>
            <p class="paragraph-main">I'm Michael, an undergraduate Computer Science student at Boston University. At BU, I'm a course assistance and grader for the Computer Science department. In my free time I enjoy listening to music, climbing, knitting, and designing 3-D printable models. I built this site to showcase personal projects and let you know a little about me. Feel free to explore, and don't hesitate to reach out with any questions! </p> 
            <h1 class="main-page"> Personal Projects </h1>
            <p class="paragraph-main">Listening Visualization: Developed an interactive web page to visually display my historical Spotify usage, giving a data-driven insight into my listening habits. The application updates in real-time to allow users to see when I'm currently listening to music. Built the frontend using HTML and CSS, while leveraging JavaScript and Node.js with the Express framework for the back-end development. Utilized the spotify API to query real-time data and MongoDB to store historical results. This is currently hosted above, check it out!</p>
            <p class="paragraph-main">COVID Data Analysis</p>
            <p class="paragraph-main">Songs Sort</p>
            <p class="paragraph-main">Hackathon</p>       
        </div>
        <div class="bottom-container">
        <figure >
            <p><img id="main-image" src="/public/images/lobster.jpg"
              width="45%" 
              alt="Photo of me">
        </figure>
    </div>



    </div>
    </body>
</html> 