<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="/public/favicon.ico"> <!--https://icons8.com/icon/qhTRpW6HOKIT/lobster"-->
    <title>Michael Krah</title>
</head>
<body>
    
    <h2 class="header-title"> <img src="/public/images/name.jpg"  class="image">  </img> </h2>

    <nav class="nav">
        <a href="/" > Home </a>
        <a href="/about" > About </a>
        <a href="/resume"> Resume </a>
        <a href="/contact"> Contact </a>
    </nav>
    
    <h1 class="main-page"> Hello! </h1>
    <div class="main-flex">
        <div id="mar1"></div>
        
        <div>
            <p class="paragraph">I'm Michael. Welcome to my personal site. I wanted to create a place where people could learn a little about me. Feel free to explore around on this site! </p> 
            <p class="paragraph">I'm an undergrad CS student at Boston University. I'm from Maine and in my free time I enjoy rock climbing, exploring Boston, knitting, and designing 3D models.    
        </div>
        <figure >
            <p><img id="main-image" src="/public/images/lobster.jpg"
              width="45%" 
              alt="3D Printed Lobster">
            <figcaption id="fig-text">Enjoy this 3D printed lobster I made while I am setting stuff up on this site</figcaption>
        </figure>
        



    </div>
    </body>
</html> 