<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
    <title>Michael Krah</title>
    <link rel="icon" href="/public/favicon.ico"> <!--https://icons8.com/icon/qhTRpW6HOKIT/lobster"-->
</head>
<body>
    <h2 class="header-title"> <img src="/public/images/name.jpg"  class="image">  </img> </h2>

    <nav class="nav">
        <a href="/" > Home </a>
        <a href="/about" > About </a>
        <a href="/resume"> Resume </a>
        <a href="/contact"> Contact </a>
    </nav>

    <p class="paragraph"> You can find my resume below. If you have any questions feel free to reach out! Link to open in a seperate page <a href="/public/assets/Resume.pdf" target="_blank" id="underline-link">here</a>.</p>
    <iframe  width="70%" id="resume" src="/public/assets/Resume.pdf"> </iframe>
    <footer> <br> </footer>
</body>
</html>