@font-face {
  font-family: Lato;
  src: url(Lato-Light.ttf);
}

.header-title {
    text-align: center;
    font: 400 37px Lato,Helvetica,sans-serif;
    color: #4a4a4a;
    text-transform: uppercase;
    position: relative; 
    margin-top:40px;
    margin-bottom: 0%;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow-clip-margin: content-box;
  overflow: clip;
  width: 25%;
  min-width: 250px;
}

.header-title::before {
  content: "";
    position: absolute;
    height: 10%;
    border-bottom: 1px solid #939498;
    border-top: 1px solid #939498;
    top: 40%;
    width: 20%;
    right: 65%;
}

.header-title::after {
    content: "";
    position: absolute;
    height: 10%;
    border-bottom: 1px solid #939498;
    border-top: 1px solid #939498;
    top: 40%;
    width: 20%;
    left: 65%;
    display: inline-block;
}

.center-div {
  text-align: center;
}

.header {
    display: flex;
    justify-content:space-between ;
    align-items: stretch;
    gap: 5%;
    width: auto;
    background: #131313;
    color: rgb(4, 4, 4);
    font-size: 40px;
    margin: 0%;
    border-bottom: solid;
  }

  .nav {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-family: Lato,Helvetica,sans-serif;
    font-size: calc(.1vw + 20px);
    text-transform: uppercase;
    margin-bottom: 70px;
  }

#nav-item {
  padding: .9%;
  margin-right: 3vw; 
  display: inline-block;  
}

#nav-item:last-child {
  margin-right: 0; 
}


#nav-item:hover {
  text-decoration: underline;
}

#songs-header {
  color: #0ed560;
  border-radius: 15px;
  padding: .9%;
  background-color: #424242;
}
#songs-header:hover {
  text-decoration: underline;
}




a {
  color:#000000
}

body {
  margin: 0%;
}

.paragraph {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 20px;

}


.paragraph-main-margin {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: left;
  font-size: 20px;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 3%;
  line-height: 1.4em;
}

.paragraph-about {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: left;
  font-size: 1.2em;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1.5em;
  line-height: 30px;

}

.paragraph-about-center {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 1.2em;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1.5em;
  line-height: 1.4em;
}

.title {
  justify-content: center ;
  font-weight: 4000;
  font-family: Lato,Helvetica,sans-serif;
  font-size: calc(.1vw + 20px);
  margin-left: 20px;

}

.main-page{
  font-weight: 4000;
  font-size: 40px;
  font-family: Lato, serif;
  text-align: center;
}

.main-flex{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.top-container{
  flex:3
  
}

.bottom-container{
  margin-top: 5%;
  flex:1
}

#mar1 {
  width:200px
}

#main-image{
  min-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

#fig-text {
  text-align: center;
}

.links {
  display: flex;
  gap: 2%;
  justify-content: center ;
  margin-top: 30px;
  font-size: 25px;
  text-decoration: underline;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

#underline-link {
  text-decoration: underline;
}
#underline-link:hover {
  text-decoration: underline;
  color: blue;
}


  #resume {
    margin:auto;
    display: block;
    max-height: 1100px;
    aspect-ratio: 8.5 / 11;
  }


  @media(max-width:768px) {
    .header-title::before {
      content: "";
        position: absolute;
        height: 10%;
        border-bottom: 1px solid #939498;
        border-top: 1px solid #939498;
        top: 40%;
        width: 10%;
        right: 80%;
    }
    
    .header-title::after {
        content: "";
        position: absolute;
        height: 10%;
        border-bottom: 1px solid #939498;
        border-top: 1px solid #939498;
        top: 40%;
        width: 10%;
        left: 80%;
        display: inline-block;
    }
  
    .nav {
      display: flex;
      justify-content: center;
      font-weight: 400;
      font-family: Lato,Helvetica,sans-serif;
      font-size: calc(.1vw + 14px);
      text-transform: uppercase;
      margin-bottom: 70px;
    }
  
    .main-flex{
      display: flex;
      gap: 2%;
      justify-content: center ;
      flex-direction: column;
    }
  }

  .personal-project {
    background-color: #fafafa;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 1em;
    width: 70%;
  }

  .project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .front-project {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    font-size: 1.2em;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1.5em;
    line-height: 30px;
    width: calc(50% - 10%); /* Considering the 5% margins on both sides */
    box-sizing: border-box;
  }
  .front-project:hover{
    text-decoration: underline;
  }

  .about-flexbox-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    }

    .github-logo {
      width: 25px;
      height: 25px;
      vertical-align: middle;
    }

    .image-container {
      width: 600px; /* or whatever you want */
      max-width: 90%;
      margin: 0 auto; /* centering the div */
      text-align: center;
      border-radius: 5px;
  }
  
  .nav-buttons {
      margin-top: 3%;
      margin-bottom: 5%;
  }

  #main-image-about {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }