@font-face {
  font-family: Lato;
  src: url(Lato-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}


body {
  background: black;
  color: white;
  font-family: sans-serif;
}


.header-title {
  text-align: center;
  font: 400 30px Lato, Helvetica, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
  margin-top: 1%;
  margin-bottom: 1%;
}

.header-title::before {
  content: "";
  position: absolute;
  height: 10%;
  border-bottom: 1px solid #939498;
  border-top: 1px solid #939498;
  top: 40%;
  width: 20%;
  right: 65%;
}

.header-title::after {
  content: "";
  position: absolute;
  height: 10%;
  border-bottom: 1px solid #939498;
  border-top: 1px solid #939498;
  top: 40%;
  width: 20%;
  left: 65%;
  display: inline-block;
}

#header-nav-wrapper {
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  background: #1a1a1a;
  border-radius: 10px;
}

.nav {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-family: Lato, Helvetica, sans-serif;
  font-size: calc(.1vw + 20px);
  text-transform: uppercase;
  margin-bottom: 1em;
}

#nav-item {
  padding: .9%;
  margin-right: 3vw;
  display: inline-block;
  /* background-color: #424242;
  border-radius: 10px; */
  color: #ffffff;


}

#nav-item:last-child {
  margin-right: 0;
}

#nav-item:hover {
  text-decoration: underline;
}

#songs-header {
  color: #0ed560;
  padding: .9%;
  /* border-radius: 10px;
  background-color: #424242; */
}

#songs-header:hover {
  text-decoration: underline;
}

a {
  color: #000000
}


.links {
  display: flex;
  gap: 2%;
  justify-content: center;
  margin-top: 30px;
  font-size: 25px;
  text-decoration: underline;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

#underline-link {
  text-decoration: underline;
}

#underline-link:hover {
  text-decoration: underline;
  color: blue;
}


main {
  /* background: #1a1a1a; */
  flex: 1 1 80%;
  display: flex;
  flex-direction: column;

  color: white;
  font-family: sans-serif;
  font-size: 1.2em;
}

.flex-container {
  display: flex;
  flex-grow: 1;
}

.ui-container {
  height: 95%;
  width: 100%;
  border-radius: 10px;
  background: #1a1a1a;
  padding: 10px;
}

#ui-container-left {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 100%;
  border-radius: 10px;
  background: #1a1a1a;
  padding: 10px;
}


#left-container {
  display: flex;
  flex-direction: column;
  margin-left: 1%;

  width: 15%;
  justify-content: center;
  align-items: center;
  margin-right: 0.5%;
}

#right-container {
  display: flex;
  flex-direction: column;
  margin-right: 1%;
  flex-grow: 1;
  margin-left: 0.5%;
  width: 80%;
  justify-content: center;
  align-items: center;
}

#date-range-custom {
  max-width: 100%;
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  row-gap: 10px;
}

#date-range-custom label {
  text-align: left;
}

#date-range-custom input {
  justify-self: end;
}


#startDate,
#endDate {
  background-color: #424242;
  border: none;
  color: #ffffff;
  font-size: 1em;
  text-align: center;
  max-width: 100%;
  font-family: sans-serif;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-repeat: no-repeat;
  background-position: 95% center;
}

#startDate:hover,
#endDate:hover {
  background-color: #999;
}

#date-range-set {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#date-range-set label {
  padding: 3px 5px;
  background-color: #424242;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s;
  font-family: sans-serif;
  margin-right: 5%;
  margin-top: 5%;
}

#date-range-set label:hover {
  background-color: #999;
}

#date-range-set input[type="radio"] {
  display: none;
}

#date-range-set input[type="radio"]:checked+label {
  background-color: #999;
  color: #fff;
}

#current-song {
  margin-top: auto;
}

#song-image {
  width: 92%;
  margin-top: 10%;
  margin-left: 2%;
  height: auto;
  max-height: 92%;
  border-radius: 10px;
}

#songs-display {
  color: white;
  font-size: 0.8em;
}

#songs-display:hover {
  text-decoration: underline;
}

#artists-display {
  color: #909090;
  font-size: 0.6em;
}

#artists-display:hover {
  text-decoration: underline;
}

@media(max-width:768px) {
  .header-title::before {
    content: "";
    position: absolute;
    height: 10%;
    border-bottom: 1px solid #939498;
    border-top: 1px solid #939498;
    top: 40%;
    width: 10%;
    right: 80%;
  }

  .header-title::after {
    content: "";
    position: absolute;
    height: 10%;
    border-bottom: 1px solid #939498;
    border-top: 1px solid #939498;
    top: 40%;
    width: 10%;
    left: 80%;
    display: inline-block;
  }

  .nav {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-family: Lato, Helvetica, sans-serif;
    font-size: calc(.1vw + 14px);
    text-transform: uppercase;
    margin-bottom: 1em;
  }

  .main-flex {
    display: flex;
    gap: 2%;
    justify-content: center;
    flex-direction: column;
  }
}